@use "partials/variables" as var;
@use "partials/mixins" as mix;

.container--banner {
  position: relative;

  .banner {
    width: 100%;
    vertical-align: top;
    max-width: 100vw;
  }

  .text_banner {
    background-color: var.$darkBrown;
    display: grid;
    gap: 1.5rem;
    padding: 1rem 0;
    justify-items: center;
    text-align: center;

    @media #{var.$lgplus} {
      max-width: 35rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2rem 1.5rem;
      background-color: #2e1b14bb;
      border-radius: 0.8rem;
      backdrop-filter: blur(5px);
    }

    p {
      @include mix.body-small;
      color: var.$lightbeige;
      max-width: 20rem;
    }

    a {
      @include mix.btn--main;
      width: fit-content;

      &:focus {
        background-color: black;
        color: white;
      }
    }
  }
}

.nav--theme {
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    justify-items: center;
    padding: 2rem 0;
    background-color: var.$beige;
    padding: 2rem 2rem;

    @media #{var.$lgplus} {
      grid-template-columns: repeat(8, 1fr);
    }

    figure {
      height: 4rem;
      width: 5rem;

      &:hover,
      &:focus {
        box-shadow: 3px 3px 2px #2e1b143f;
        text-decoration: underline;
      }

      @media #{var.$lgplus} {
        height: 6rem;
        width: 7.5rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      figcaption {
        font-family: var.$roboto;
        font-size: 0.75rem;
        text-align: center;

        @media #{var.$lgplus} {
          font-size: 1rem;
        }
      }
    }
  }
}

.container--gift,
.container--article {
  display: grid;
  background-color: var.$beige;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem 0rem 2rem 1rem;

  @media #{var.$mdplus} {
    justify-items: center;
    padding-right: 2rem;
  }

  ul {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    overflow: hidden;

    li {
      display: grid;
      justify-items: center;
      gap: 0.75rem;
    }
  }

  a {
    @include mix.btn--primary;
    width: fit-content;
  }

  .container--img-c {
    width: 20rem;
    height: 13.95rem;

    @media #{var.$lgplus} {
      width: 100%;
      height: 27.25rem;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.container--article {
  overflow: hidden;

  ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .container--img-c {
    width: 22rem;
    height: 13rem;

    @media #{var.$lgplus} {
      width: 100%;
      height: 17rem;
    }
  }
}

.container--favorite,
.container--other,
.container--crueltyfree {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var.$beige;
  gap: 2rem;
  padding: 2rem 0rem 2rem 1rem;

  @media #{var.$lgplus} {
    justify-items: center;
    padding-right: 2rem;
  }

  ul {
    width: fit-content;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    color: var.$darkBrown;
    overflow: hidden;

    li {
      background-color: var.$green;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.5rem;

      h4 {
        max-width: 14rem;
        margin-left: 1rem;
      }

      p {
        margin-left: 1rem;
      }

      figure {
        height: 18rem;
        width: 18rem;

        @media #{var.$lgplus} {
          height: 16rem;
          width: 16rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      a {
        @include mix.btn--secondary;
        margin: 1rem;
      }
    }
  }
}

.container--other {
  ul {
    color: var.$darkBrown;

    li {
      background-color: transparent;

      h4,
      p,
      a {
        margin: 0;
      }

      figure {
        height: 18rem;
        width: 18rem;
      }
    }
  }
}

.container-video-crueltyfree {
  background-color: var.$green;
  overflow: hidden;
  display: grid;

  @media #{var.$mdplus} {
    grid-template-columns: 35% 65%;
  }

  figure {
    place-self: center;
    height: 26rem;
    width: 96vw;

    @media #{var.$mdplus} {
      clip-path: polygon(0 0, 87% 0, 100% 100%, 9% 100%);
      width: 90%;
      order: 2;
      place-self: end;
    }
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 3rem;
    row-gap: 1.2rem;

    @media #{var.$mdplus} {
      row-gap: 0;
      max-width: 525px;
    }

    h3 {
      place-self: center;
      grid-column: span 2;
      width: fit-content;
    }

    a {
      @include mix.btn--primary;
      color: var.$lightbeige;
      width: fit-content;
      height: fit-content;
      padding: 0.8rem 1rem;
      border-radius: 5px;
      background-color: var.$darkBrown;
    }
  }
}

.container--crueltyfree {
  background-color: var.$green;

  ul li {
    background-color: var.$beige;
    color: var.$darkBrown;
  }

  p {
    max-width: 12.6rem;
  }
}

.container--sample {
  background-color: var.$beige;
  padding: 2rem 0 4rem 0;
  gap: 2rem;
  display: grid;
  place-self: center;

  @media #{var.$mdplus} {
    padding: 2rem 2rem 4rem;
    justify-items: center;
  }

  .text {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    max-width: 25rem;

    @media #{var.$mdplus} {
      max-width: 40rem;
    }
  }

  .img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;

    @media #{var.$mdplus} {
      gap: 2rem;
    }

    @media #{var.$lgplus} {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2rem;
    }

    figure {
      height: 12.5rem;
      width: 12.5rem;
      position: relative;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    figcaption {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.259);

      a {
        transform: translate(-50%, -50%);
        position: absolute;
        bottom: 5%;
        left: 50%;
        text-align: center;
        width: 100%;
        color: var.$lightbeige;
      }
    }
  }
}

.container--reward {
  display: grid;
  gap: 1rem;
  padding: 2rem 0 4rem 0;
  width: fit-content;
  place-self: center;

  @media #{var.$mdplus} {
    justify-items: center;
    padding: 2rem 2rem 4rem;
  }

  @media #{var.$lgplus} {
    grid-template-areas:
      "container1 container2"
      "container1  container3";
    width: fit-content;
    place-self: center;
  }

  .reward--lg,
  .reward--sm {
    width: fit-content;

    figure {
      width: 24rem;
      height: 16rem;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .text-reward {
      background-color: var.$darkBrown;
      color: var.$lightbeige;
      padding: 2rem;
      display: grid;
      gap: 1rem;
      justify-items: center;
      text-align: center;
      max-width: 24rem;

      a {
        @include mix.btn--primary;
      }
    }
  }

  .reward--lg {
    @media #{var.$lgplus} {
      position: relative;
      grid-area: container1;
    }

    figure {
      @media #{var.$lgplus} {
        width: 39rem;
        height: 43rem;
      }
    }

    .text-reward {
      @media #{var.$lgplus} {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translatex(-50%);
        min-width: 39rem;
        height: 12.5rem;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2e1b14dc;
        padding: 3rem;
      }
    }
  }
}

.reward--sm {
  @media #{var.$lgplus} {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    figure {
      min-height: 21rem;
      min-width: 17rem;
    }
  }
}

.container--welcom {
  padding: 2rem;

  div {
    padding: 2rem;
    background-color: var.$lightbeige;

    a {
      text-decoration: underline;
    }
  }
}

.none-mobile {
  display: none;

  @media #{var.$lgplus} {
    display: block;
  }
}

.none-desktop {
  display: block;

  @media #{var.$lgplus} {
    display: none;
  }
}
